body{
    padding: 0px 0px 20px 0px;
    background-color: #F6F3E8;
}
.top{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.top button {
    padding: 10px;
    background-color: rgb(251, 179, 96);
    color: white;
    border:0;
    border-radius: 5%;
    font-size: 0.9em;
}

.product-div{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 7px 0px 7px 0px;
    padding: 10px;
}

#edit-view{
    display: flex;
    flex-direction: column;
}
#edit-view input{
    margin-bottom: 17px;

}
#compose-form{
    display: flex;
    flex-direction: column;
    width: 34%;
}
img:hover{
    cursor: pointer;
}

#products-view{
    margin-left: 10%;
    margin-right: 10%;
}

.product-handlers > img{
    opacity: .2;
}

.product-handlers > img:hover{
    transition-duration: 0.65s;
    opacity: 1;
}